tags/release-0.7/data/general/stringTable1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="root" >
        <xs:complexType>
            <xs:sequence  maxOccurs="unbounded">
                <xs:element name="a" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="b" type="xs:string" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>