tags/release-0.7/data/general/test4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="intervalA" type="Interval"/>
    <xs:element name="intervalB" type="Interval"/>
    <xs:complexType name="Interval">
        <xs:attribute name="min" type="xs:short" use="required"/>
        <xs:attribute name="max" type="xs:short" use="required"/>
    </xs:complexType>
</xs:schema>