trunk/data/schema/choiceN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root" >
    	<xs:complexType>
    		<xs:choice maxOccurs="3">
    			<xs:element name="el1" type="xs:string"/>
    			<xs:element name="el2" type="xs:integer"/>
    			<xs:element name="el3"  type="xs:date"/>
    		</xs:choice>
    	</xs:complexType>
    </xs:element>
</xs:schema>
