trunk/data/schema/occurrences4.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="foo">
    <xs:complexType>
        <xs:sequence maxOccurs="unbounded" >
            <xs:element name="el1" type="xs:string" />
            <xs:element name="el2" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>