trunk/data/schema/xsi-type2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="elString" type="xs:string"/>
        <xs:element name="elUnsignedByte" type="xs:unsignedByte"/>
        <xs:element name="elID" type="xs:ID"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
