trunk/data/general/test3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="test">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="info" />
			</xs:sequence>
		   <xs:attribute name="id" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>
