tags/exificient-0.9.2/trunk/data/general/datatypeFloat.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="root" >
        <xs:complexType>
            <xs:sequence>
                <!-- Built-in Type: Float -->
                <xs:element name="float"  type="xs:float" minOccurs="0" maxOccurs="unbounded" />
                <xs:element name="double"  type="xs:double" minOccurs="0" maxOccurs="unbounded" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
</xs:schema>
