tags/release-0.9.1/data/schema/occurrences2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="foo">
    <xs:complexType>
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="a" minOccurs="0" type="xs:string" />
            <xs:element name="b" minOccurs="0" type="xs:string" />
            <xs:element name="c" minOccurs="0" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>