tags/release-0.4/data/general/pi1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="name">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="first"/>
        <xs:element ref="middle"/>
        <xs:element ref="last"/>
      </xs:sequence>
      <xs:attribute name="nickname" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="first" type="xs:NCName"/>
  <xs:element name="middle">
    <xs:complexType/>
  </xs:element>
  <xs:element name="last" type="xs:NCName"/>
</xs:schema>
