tags/release-0.4/data/general/unbounded.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name="one-unbounded" >
        <xs:complexType>
            <xs:sequence  maxOccurs="unbounded">
                <xs:element name="entry" type="xs:string"  />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="zero-unbounded" >
        <xs:complexType>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="entry" type="xs:string"  />
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    
</xs:schema>